.footer {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 60px;
    border-top: 1px solid;
    border-image: linear-gradient(90deg, var(--pink), var(--light-blue)) 1;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.links a {
    text-decoration: none;
    color: #B653A5;
    transition: color 0.3s ease;
}

.links a:hover {
    color: var(--light-blue);
}

.copyright {
    color: #8c8c8c;
    font-size: 0.9rem;
}