.jumbotron {
    width: 100% !important;
    height: 100vh;
    background-image: url("texture2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 0.5rem;
    text-align: center;
    color: var(--text);
    position: relative;
    margin-bottom: 80px;
}

.jumbotron::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /*altezza sfumatura*/
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--navy) 100%);
    pointer-events: none;
}

span {
    background: linear-gradient(90deg, var(--pink), var(--light-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.typing {
    margin-top: 20px;
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    font-size: 1rem;
    color: #8c8c8c;
}

.cursor {
    display: inline-block;
    width: 1px;
    background-color: var(--text);
    animation: blink 0.8s step-start infinite;
    margin-left: 2px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}