/* Mobile Default */
.container {
    padding: 1rem;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projectLink {
    text-decoration: none;
    color: inherit;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s;
    background-color: rgba(42, 39, 68, 0.5);
    padding: 1rem;
    overflow: hidden;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.image {
    width: 100%;
    border-radius: 10px;
}

.text {
    width: 100%;
    text-align: center;
}

.text h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.text p {
    font-size: 0.95rem;
    color: #8c8c8c;
    line-height: 1.6;
}

.cta {
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;
    color: var(--yellow);
    transition: transform 0.3s;
}

.projectLink:hover .cta {
    transform: translateX(5px);
}

/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
    .container {
        padding: 2rem;
    }

    .projectLink {
        padding: 0;
        background-color: transparent;
    }

    .projectLink:hover {
        background-color: rgba(42, 39, 68, 0.5);
    }

    .project {
        padding: 1.5rem;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    /* Ripristiniamo il layout alternato */
    .projectLink:nth-child(even) .project {
        flex-direction: row-reverse;
    }

    .image {
        width: 40%;
    }

    .text {
        width: 50%;
        text-align: left;
    }
}