.container {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin-top: 50px;
}

.grid {
    margin-top: 20px;
    overflow: hidden;
    padding: 0 20px;
    /* Più spazio ai lati */
}

.card {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--yellow);
    border-radius: 10px;
    padding: 10px;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 25px var(--yellow), 0 0 20px var(--yellow);
    transform: scale(1.07);
    animation: glow 1.5s infinite alternate ease-in-out;
}

.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: auto !important;
    /* Assicura che la larghezza sia data solo dalla card */
}

.icon {
    width: 60px;
    height: auto;
}

.techName {
    margin-top: 5px;
    font-size: 12px;
    /* Leggermente più piccolo */
    font-weight: bold;
    text-align: center;
}

.slick-track {
    display: flex !important;
    gap: 15px;
    /* Spazio tra le card */
}

/* Migliora la visibilità dei pallini del carosello */
.slick-dots li button:before {
    color: var(--yellow);
    font-size: 10px;
}

.slick-dots li.slick-active button:before {
    color: #000;
}