.container {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* Assicura che il contenitore principale sia centrato */
}

.grid {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    /* Permette alle card di andare a capo */
    justify-content: center;
    gap: 2rem;
    /* Spazio tra le card */
}

.cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--yellow);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    overflow: hidden;
    /* Nasconde parti dell'icona che potrebbero sbordare */
}

.cardWrapper:hover .card {
    box-shadow: 0 0 25px var(--yellow), 0 0 20px var(--yellow);
    animation: glow 1.5s infinite alternate ease-in-out;
}

.icon {
    width: 60px;
    /* Impostiamo una larghezza di riferimento */
    height: 60px;
    /* Impostiamo un'altezza di riferimento */
    object-fit: contain;
    /* Adatta l'immagine mantenendo le proporzioni */
}

.techName {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

span {
    background: linear-gradient(5deg, var(--pink), var(--light-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 1em;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px var(--yellow);
    }

    to {
        box-shadow: 0 0 25px var(--yellow), 0 0 10px var(--yellow);
    }
}

/* Tablet e Desktop */
@media (min-width: 768px) {
    .card {
        width: 120px;
        height: 120px;
    }

    .icon {
        width: 60px;
        height: 60px;
    }
}