@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* .debug {
  border: 1px solid red;
} */

/* palette colori */
:root {
  --light-blue: #00e1fd;
  --pink: #fc007a;
  --navy: #1C1933;
  --yellow: #FDD16A;
  --text: white;
}

body {
  background-color: var(--navy);
  color: var(--text);
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}

h2 {
  background: linear-gradient(90deg, var(--pink), var(--light-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
}